
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="profile_wrapper">
    <div class="profile_box">
        <div class="hero-container cover-container" style="background-image: url('assets/img/cover.jpeg')" data-clickable="true">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="nav-container">
                        <div class="profile-container">
                            <div class="info-card">
                                <div class="avatar avatar-md has-border" style="background-image: url(assets/img/a0.png);">
                                </div>
                                <div class="user-info">
                                    <div class="user-name-container">
                                        @string.Format("@{0}", "John.smith")
                                    </div>
                                    <!--<small class="profile-subtitle"><mark>300</mark><span class="text-muted">Travel Swag</span></small>-->
                                    <a href="#" title="" class="takip_et">Takip Et</a>
                                    <a href="#" title="" class="engelle">Engelle</a>
                                    <div class="clearfix"></div>
                                    <div class="profile_follow">
                                        <div class="profile_follow_in">
                                            <h5>Takipçi</h5>
                                            <b>34</b>
                                        </div>
                                        <div class="profile_follow_in">
                                            <h5>Takip Edilen</h5>
                                            <b>135</b>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="profile_socialmedia hidden-xs">
                                    <ul>
                                        <li>
                                            <i class="fa fa-facebook-square"></i>
                                            <a href="#" title="">https://www.facebook.com/OmerYcll</a>
                                        </li>
                                        <li>
                                            <i class="fa fa-twitter-square"></i>
                                            <a href="#" title="">https://twitter.com/omerycll</a>
                                        </li>
                                        <li>
                                            <i class="fa fa-instagram"></i>
                                            <a href="#" title="">https://www.instagram.com/omerfycll/</a>
                                        </li>
                                        <li>
                                            <i class="fa fa-google-plus-square"></i>
                                            <a href="#" title="">https://plus.google.com/106005876157582303915?hl=tr</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div><!-- .nav-container -->
                </div>
                <div class="col-md-6 profile_bio_page">
                    <div class="profile_main">
                        <div class="profile_main_name">
                            <h3>Ömer Yücel</h3>
                            <p>At least we are happy in the dreams room is enough.</p>
                        </div>
                        <div class="profil_tabs_link">
                            <div class="tabs_link_a">
                                <a href="@Url.Action("Index","Profile")" title=""><i class="fa fa-newspaper-o fa-lg"></i>Zaman Tüneli</a>
                            </div>
                            <div class="tabs_link_a">
                                <a href="@Url.Action("Index","ProfileAbout")" title=""><i class="fa fa-info-circle fa-lg"></i>Hakkımda</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="profile_socialmedia">
                        <h4>Sosyal Medya Hesaplarım</h4>
                        <ul>
                            <li>
                                <i class="fa fa-facebook-square"></i>
                                <a href="#" title="">https://www.facebook.com/OmerYcll</a>
                            </li>
                            <li>
                                <i class="fa fa-twitter-square"></i>
                                <a href="#" title="">https://twitter.com/omerycll</a>
                            </li>
                            <li>
                                <i class="fa fa-instagram"></i>
                                <a href="#" title="">https://www.instagram.com/omerfycll/</a>
                            </li>
                            <li>
                                <i class="fa fa-google-plus-square"></i>
                                <a href="#" title="">https://plus.google.com/106005876157582303915?hl=tr</a>
                            </li>
                        </ul>
                    </div>
                    <div class="profile_biografi">
                        <h4>Hakkımda</h4>
                        <div class="profile_biografi_text">
                            Yinelenen bir sayfa içeriğinin okuyucunun dikkatini dağıttığı bilinen bir gerçektir. Lorem Ipsum kullanmanın amacı, sürekli 'buraya metin gelecek, buraya metin gelecek' yazmaya kıyasla daha dengeli bir harf dağılımı sağlayarak okunurluğu artırmasıdır. Şu anda birçok masaüstü yayıncılık paketi ve web sayfa düzenleyicisi, varsayılan mıgır metinler olarak Lorem Ipsum kullanmaktadır. Ayrıca arama motorlarında 'lorem ipsum' anahtar sözcükleri ile arama yapıldığında henüz tasarım aşamasında olan çok sayıda site listelenir. Yıllar içinde, bazen kazara, bazen bilinçli olarak (örneğin mizah katılarak), çeşitli sürümleri geliştirilmiştir.
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-lg-3 col-xs-12 md-right">
                    <div class="right-block">
                        <div class="promiseday">
                            <div class="content">
                                <i style=" font-size: 12px; ">Günün Sözü</i>
                                <p>"Ok ancak geri çekerek atılır. Hayat seni zorluklarla geri çekiyorsa, seni daha büyük bir şeye fırlatacağı içindir. Nişan almaya devam et."</p>
                                <b>Paulo Coelho</b>
                            </div>
                        </div>
                    </div>
                    <div class="right-block hidden-xs">
                        <div class="right-block-title">
                            <h6 class="title">Takip Önerisi</h6>
                            <a href="#" class="more"></a>
                        </div>

                        <ul class="notification-list">
                            <li class="inline-items">
                                <div class="author-thumb">
                                    <img src="assets/img/avatar-1.jpg" alt="author">
                                </div>
                                <div class="notification-event">
                                    <a href="#" class="h6 notification-friend">Francine Smith</a>
                                    <span class="chat-message-item">8 Friends in Common</span>
                                </div>
                                <span class="notification-icon">
                                    <a href="#" class="accept-request">
                                        <span class="icon-add without-text">
                                            <i class="flaticon-plus"></i>
                                        </span>
                                    </a>
                                </span>
                            </li>
                            <li class="inline-items">
                                <div class="author-thumb">
                                    <img src="assets/img/avatar-1.jpg" alt="author">
                                </div>
                                <div class="notification-event">
                                    <a href="#" class="h6 notification-friend">Francine Smith</a>
                                    <span class="chat-message-item">8 Friends in Common</span>
                                </div>
                                <span class="notification-icon">
                                    <a href="#" class="accept-request">
                                        <span class="icon-add without-text">
                                            <i class="flaticon-plus"></i>
                                        </span>
                                    </a>
                                </span>
                            </li>
                            <li class="inline-items">
                                <div class="author-thumb">
                                    <img src="assets/img/avatar-1.jpg" alt="author">
                                </div>
                                <div class="notification-event">
                                    <a href="#" class="h6 notification-friend">Francine Smith</a>
                                    <span class="chat-message-item">8 Friends in Common</span>
                                </div>
                                <span class="notification-icon">
                                    <a href="#" class="accept-request">
                                        <span class="icon-add without-text">
                                            <i class="flaticon-plus"></i>
                                        </span>
                                    </a>
                                </span>
                            </li>
                            <li class="inline-items">
                                <div class="author-thumb">
                                    <img src="assets/img/avatar-1.jpg" alt="author">
                                </div>
                                <div class="notification-event">
                                    <a href="#" class="h6 notification-friend">Francine Smith</a>
                                    <span class="chat-message-item">8 Friends in Common</span>
                                </div>
                                <span class="notification-icon">
                                    <a href="#" class="accept-request">
                                        <span class="icon-add without-text">
                                            <i class="flaticon-plus"></i>
                                        </span>
                                    </a>
                                </span>
                            </li>
                            <li class="inline-items">
                                <div class="author-thumb">
                                    <img src="assets/img/avatar-1.jpg" alt="author">
                                </div>
                                <div class="notification-event">
                                    <a href="#" class="h6 notification-friend">Francine Smith</a>
                                    <span class="chat-message-item">8 Friends in Common</span>
                                </div>
                                <span class="notification-icon">
                                    <a href="#" class="accept-request">
                                        <span class="icon-add without-text">
                                            <i class="flaticon-plus"></i>
                                        </span>
                                    </a>
                                </span>
                            </li>
                            <li class="inline-items">
                                <div class="author-thumb">
                                    <img src="assets/img/avatar-1.jpg" alt="author">
                                </div>
                                <div class="notification-event">
                                    <a href="#" class="h6 notification-friend">Francine Smith</a>
                                    <span class="chat-message-item">8 Friends in Common</span>
                                </div>
                                <span class="notification-icon">
                                    <a href="#" class="accept-request">
                                        <span class="icon-add without-text">
                                            <i class="flaticon-plus"></i>
                                        </span>
                                    </a>
                                </span>
                            </li>
                            <li class="inline-items">
                                <div class="author-thumb">
                                    <img src="assets/img/avatar-1.jpg" alt="author">
                                </div>
                                <div class="notification-event">
                                    <a href="#" class="h6 notification-friend">Francine Smith</a>
                                    <span class="chat-message-item">8 Friends in Common</span>
                                </div>
                                <span class="notification-icon">
                                    <a href="#" class="accept-request">
                                        <span class="icon-add without-text">
                                            <i class="flaticon-plus"></i>
                                        </span>
                                    </a>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .profile_box -->
</div><!-- #profile_wrapper -->

