
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="SearchForm">
    <div class="container">
        <div class="row">
            <div class="searchForm_Page">
                <form action="search_submit" method="get" accept-charset="utf-8">
                    <input type="text" name="text" value="" placeholder="Kitap, Müzik, Film / Dizi ve Kişi Ara">
                    <button>
                        <i class="flaticon-search"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-lg-3 col-sm-3">
                <div class="leftSidebar">
                    <div class="searcNav">
                        <h3>Arama Filtreleri</h3>
                        <b>Kategori</b>
                        <section>
                            <option value="Kitap">Kitap</option>
                        </section>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-lg-3 col-xs-12 md-right">
                <div class="right-block">
                    <div class="promiseday">
                        <div class="content">
                            <i style=" font-size: 12px; ">Günün Sözü</i>
                            <p>"Ok ancak geri çekerek atılır. Hayat seni zorluklarla geri çekiyorsa, seni daha büyük bir şeye fırlatacağı içindir. Nişan almaya devam et."</p>
                            <b>Paulo Coelho</b>
                        </div>
                    </div>
                </div>
                <div class="right-block hidden-xs">
                    <div class="right-block-title">
                        <h6 class="title">Takip Önerisi</h6>
                        <a href="#" class="more"></a>
                    </div>

                    <ul class="notification-list">
                        <li class="inline-items">
                            <div class="author-thumb">
                                <img src="assets/img/avatar-1.jpg" alt="author">
                            </div>
                            <div class="notification-event">
                                <a href="#" class="h6 notification-friend">Francine Smith</a>
                                <span class="chat-message-item">8 Friends in Common</span>
                            </div>
                            <span class="notification-icon">
                                <a href="#" class="accept-request">
                                    <span class="icon-add without-text">
                                        <i class="flaticon-plus"></i>
                                    </span>
                                </a>
                            </span>
                        </li>
                        <li class="inline-items">
                            <div class="author-thumb">
                                <img src="assets/img/avatar-1.jpg" alt="author">
                            </div>
                            <div class="notification-event">
                                <a href="#" class="h6 notification-friend">Francine Smith</a>
                                <span class="chat-message-item">8 Friends in Common</span>
                            </div>
                            <span class="notification-icon">
                                <a href="#" class="accept-request">
                                    <span class="icon-add without-text">
                                        <i class="flaticon-plus"></i>
                                    </span>
                                </a>
                            </span>
                        </li>
                        <li class="inline-items">
                            <div class="author-thumb">
                                <img src="assets/img/avatar-1.jpg" alt="author">
                            </div>
                            <div class="notification-event">
                                <a href="#" class="h6 notification-friend">Francine Smith</a>
                                <span class="chat-message-item">8 Friends in Common</span>
                            </div>
                            <span class="notification-icon">
                                <a href="#" class="accept-request">
                                    <span class="icon-add without-text">
                                        <i class="flaticon-plus"></i>
                                    </span>
                                </a>
                            </span>
                        </li>
                        <li class="inline-items">
                            <div class="author-thumb">
                                <img src="assets/img/avatar-1.jpg" alt="author">
                            </div>
                            <div class="notification-event">
                                <a href="#" class="h6 notification-friend">Francine Smith</a>
                                <span class="chat-message-item">8 Friends in Common</span>
                            </div>
                            <span class="notification-icon">
                                <a href="#" class="accept-request">
                                    <span class="icon-add without-text">
                                        <i class="flaticon-plus"></i>
                                    </span>
                                </a>
                            </span>
                        </li>
                        <li class="inline-items">
                            <div class="author-thumb">
                                <img src="assets/img/avatar-1.jpg" alt="author">
                            </div>
                            <div class="notification-event">
                                <a href="#" class="h6 notification-friend">Francine Smith</a>
                                <span class="chat-message-item">8 Friends in Common</span>
                            </div>
                            <span class="notification-icon">
                                <a href="#" class="accept-request">
                                    <span class="icon-add without-text">
                                        <i class="flaticon-plus"></i>
                                    </span>
                                </a>
                            </span>
                        </li>
                        <li class="inline-items">
                            <div class="author-thumb">
                                <img src="assets/img/avatar-1.jpg" alt="author">
                            </div>
                            <div class="notification-event">
                                <a href="#" class="h6 notification-friend">Francine Smith</a>
                                <span class="chat-message-item">8 Friends in Common</span>
                            </div>
                            <span class="notification-icon">
                                <a href="#" class="accept-request">
                                    <span class="icon-add without-text">
                                        <i class="flaticon-plus"></i>
                                    </span>
                                </a>
                            </span>
                        </li>
                        <li class="inline-items">
                            <div class="author-thumb">
                                <img src="assets/img/avatar-1.jpg" alt="author">
                            </div>
                            <div class="notification-event">
                                <a href="#" class="h6 notification-friend">Francine Smith</a>
                                <span class="chat-message-item">8 Friends in Common</span>
                            </div>
                            <span class="notification-icon">
                                <a href="#" class="accept-request">
                                    <span class="icon-add without-text">
                                        <i class="flaticon-plus"></i>
                                    </span>
                                </a>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                <div class="grid">
                    <!-- Veri gelecek -->
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="more-item">
                <i class="flaticon-spin"></i>
            </div>
        </div><!-- .row -->
    </div><!-- .container --></div>

