
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12">
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                <div class="post-view">
                    <div class="post-view-header">
                        <div class="view-user">
                            <img src="assets/img/a0.png">
                            <div class="author-date">
                                <a class="h4 post__author-name fn" href="@Url.Action("Index","Profile")">Muhittin Topalak</a>
                                <div class="post__date">
                                    <time class="published" datetime="2004-07-24T18:18"> March 4 at 2:05pm </time>
                                </div>
                            </div>
                            <div class="more-settings">
                                <a href="" title="" class="dropdown-toggle bg clear" data-toggle="dropdown">
                                    <i class="flaticon-more-1"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Gönderiyi Düzenle</a></li>
                                    <li><a href="#">Gönderiyi Sil</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="view-text">
                            <p>Hey Cindi, you should really check out this new song by Iron Maid. The next time they come to the city we should totally go!</p>
                        </div>
                        <div class="view-img">
                            <img src="assets/img/film_poster/poster_1.jpg">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-lg-3 col-xs-12 md-right">
                <div class="right-block">
                    <div class="promiseday">
                        <div class="content">
                            <i style=" font-size: 12px; ">Günün Sözü</i>
                            <p>"Ok ancak geri çekerek atılır. Hayat seni zorluklarla geri çekiyorsa, seni daha büyük bir şeye fırlatacağı içindir. Nişan almaya devam et."</p>
                            <b>Paulo Coelho</b>
                        </div>
                    </div>
                </div>
                <div class="right-block hidden-xs">
                    <div class="right-block-title">
                        <h6 class="title">Takip Önerisi</h6>
                        <a href="#" class="more"></a>
                    </div>

                    <ul class="notification-list">
                        <li class="inline-items">
                            <div class="author-thumb">
                                <img src="assets/img/avatar-1.jpg" alt="author">
                            </div>
                            <div class="notification-event">
                                <a href="#" class="h6 notification-friend">Francine Smith</a>
                                <span class="chat-message-item">8 Friends in Common</span>
                            </div>
                            <span class="notification-icon">
                                <a href="#" class="accept-request">
                                    <span class="icon-add without-text">
                                        <i class="flaticon-plus"></i>
                                    </span>
                                </a>
                            </span>
                        </li>
                        <li class="inline-items">
                            <div class="author-thumb">
                                <img src="assets/img/avatar-1.jpg" alt="author">
                            </div>
                            <div class="notification-event">
                                <a href="#" class="h6 notification-friend">Francine Smith</a>
                                <span class="chat-message-item">8 Friends in Common</span>
                            </div>
                            <span class="notification-icon">
                                <a href="#" class="accept-request">
                                    <span class="icon-add without-text">
                                        <i class="flaticon-plus"></i>
                                    </span>
                                </a>
                            </span>
                        </li>
                        <li class="inline-items">
                            <div class="author-thumb">
                                <img src="assets/img/avatar-1.jpg" alt="author">
                            </div>
                            <div class="notification-event">
                                <a href="#" class="h6 notification-friend">Francine Smith</a>
                                <span class="chat-message-item">8 Friends in Common</span>
                            </div>
                            <span class="notification-icon">
                                <a href="#" class="accept-request">
                                    <span class="icon-add without-text">
                                        <i class="flaticon-plus"></i>
                                    </span>
                                </a>
                            </span>
                        </li>
                        <li class="inline-items">
                            <div class="author-thumb">
                                <img src="assets/img/avatar-1.jpg" alt="author">
                            </div>
                            <div class="notification-event">
                                <a href="#" class="h6 notification-friend">Francine Smith</a>
                                <span class="chat-message-item">8 Friends in Common</span>
                            </div>
                            <span class="notification-icon">
                                <a href="#" class="accept-request">
                                    <span class="icon-add without-text">
                                        <i class="flaticon-plus"></i>
                                    </span>
                                </a>
                            </span>
                        </li>
                        <li class="inline-items">
                            <div class="author-thumb">
                                <img src="assets/img/avatar-1.jpg" alt="author">
                            </div>
                            <div class="notification-event">
                                <a href="#" class="h6 notification-friend">Francine Smith</a>
                                <span class="chat-message-item">8 Friends in Common</span>
                            </div>
                            <span class="notification-icon">
                                <a href="#" class="accept-request">
                                    <span class="icon-add without-text">
                                        <i class="flaticon-plus"></i>
                                    </span>
                                </a>
                            </span>
                        </li>
                        <li class="inline-items">
                            <div class="author-thumb">
                                <img src="assets/img/avatar-1.jpg" alt="author">
                            </div>
                            <div class="notification-event">
                                <a href="#" class="h6 notification-friend">Francine Smith</a>
                                <span class="chat-message-item">8 Friends in Common</span>
                            </div>
                            <span class="notification-icon">
                                <a href="#" class="accept-request">
                                    <span class="icon-add without-text">
                                        <i class="flaticon-plus"></i>
                                    </span>
                                </a>
                            </span>
                        </li>
                        <li class="inline-items">
                            <div class="author-thumb">
                                <img src="assets/img/avatar-1.jpg" alt="author">
                            </div>
                            <div class="notification-event">
                                <a href="#" class="h6 notification-friend">Francine Smith</a>
                                <span class="chat-message-item">8 Friends in Common</span>
                            </div>
                            <span class="notification-icon">
                                <a href="#" class="accept-request">
                                    <span class="icon-add without-text">
                                        <i class="flaticon-plus"></i>
                                    </span>
                                </a>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div><!-- .row -->
    </div><!-- .container -->
</div><!-- #wrapper -->


