
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <link rel="shortcut icon" type="image/icon" href="" />
    <meta name="language" content="tr" />
    <meta name="content-language" content="tr" />
    <meta property="og:type" content="product" />
    <meta name="keywords" content="Kitap, Müzik, Film, Dizi" />

    <meta property="og:title" content="odi" />
    <meta name="title" content="odi" />
    <meta name="author" content="odi" />
    <meta name="designer" content="odi" />
    <title>Odi</title>

    <meta name="rating" content="general" />
    <meta name="distribution" content="global" />
    <meta name="resource-type" content="document" />
    <meta name="googlebot" content="index,follow" />
    <meta name="robots" content="index,follow" />
    <meta name="description" content="Ne Okusam, Ne Dinlesem, Ne İzlesem Artık Bunlara Son!" />

    <meta property="og:image:width" content="250" />
    <meta property="og:image:height" content="208" />
    <meta property="og:url" content="-" />
    <meta property="og:site_name" content="odi" />
    <meta property="og:description" content="-" />

    <meta http-equiv="imagetoolbar" content="no" />
    <meta name="revisit-after" content="15 days" />
    <meta name="theme-color" content="#009B90">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/assets/css/owl.carousel.min.css" rel="stylesheet" />
    <link rel="stylesheet/less" type="text/css" href="~/assets/css/style.less" />
    <script src="~/assets/js/less.min.js"></script>
</head>
<body>
<div class="shadow"></div>
<div id="odi-register">
    <div class="header">
    
    </div>
    <div class="container wrapper">
        <div class="row">
            <div class="col-sm-12 col-center-block">
                <div class="col-md-6">
                    <div class="login-img">
                        <img src="assets/img/login.png">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="login-block">
                        <div class="containerWrapper">
                            <!-- login container -->
                            <div id="containerLogin" class="tabContainer active loginfirst">
                                <form action="#">
                                    <h2 class="loginTitle">Giriş Yap</h2>
                                    <p class="text-muted">giriş yap ve insanlara katıl</p>
                                    <div class="loginContent">
                                        <div class="row">
                                            <div class="form-group col-xs-12">
                                                <label for="eposta" class="sr-only">Eposta</label>
                                                <input id="eposta" class="form-control input-group-lg" type="email" name="eposta" title="Eposta Adresiniz" placeholder="Eposta Adresiniz">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-xs-12">
                                                <label for="sifre" class="sr-only">Şifre</label>
                                                <input id="sifre" class="form-control input-group-lg" type="password" name="password" title="Şifreniz" placeholder="Şifreniz">
                                            </div>
                                        </div>
                                    </div>
                                    <button>Giriş Yap</button>
                                    <span class="tabs"><a href="#containerForgot" class="" title="Şifremi Unuttum">Şifremi Unuttum?</a></span>
                                </form>
                                <span class="tabs">Daha Kayıt Olmadın mı? <a href="#containerRegister" class="register" title="Kayıt Yap">Kayıt Ol</a></span>
                                <div class="clearfix"></div>
                            </div>


                            <!-- register container -->
                            <div id="containerRegister" class="tabContainer">

                                <form action="#">
                                    <h2 class="loginTitle">Kayıt Ol</h2>
                                    <p class="text-muted">Be cool and join today. Meet millions</p>
                                    <div class="loginContent">
                                        <div class="row">
                                            <div class="form-group col-xs-12">
                                                <label for="eposta" class="sr-only">Eposta</label>
                                                <input id="eposta" class="form-control input-group-lg" type="email" name="eposta" title="Eposta Adresiniz" placeholder="Eposta Adresiniz">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-xs-12">
                                                <label for="sifre" class="sr-only">Şifre</label>
                                                <input id="sifre" class="form-control input-group-lg" type="password" name="password" title="Şifreniz" placeholder="Şifreniz">
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary">Kayıt Ol</button>
                                </form>
                                <span class="tabs">Hesabın Var mı? <a href="#containerLogin" class="register active" title="Giriş Yap">Giriş Yap</a></span>
                                <div class="clearfix"></div>
                            </div>

                            <!-- forgot container -->
                            <div id="containerForgot" class="tabContainer">
                                <form action="#">
                                    <h2 class="loginTitle">Şifre Yenile</h2>
                                    <p class="text-muted">Be cool and join today. Meet millions</p>
                                    <div class="loginContent">
                                        <div class="row">
                                            <div class="form-group col-xs-12">
                                                <label for="eposta" class="sr-only">Eposta</label>
                                                <input id="eposta" class="form-control input-group-lg" type="email" name="eposta" title="Eposta Adresiniz" placeholder="Eposta Adresiniz">
                                            </div>
                                        </div>
                                    </div>
                                    <button class="">Gönder</button>
                                </form>
                                <span class="tabs">Hesabın Var mı? <a href="#containerLogin" class="register active" title="Giriş Yap">Giriş Yap</a></span>
                                <div class="clearfix"></div>
                                <span class="tabs">Daha Kayıt Olmadın mı? <a href="#containerRegister" class="register" title="Kayıt Yap">Kayıt Ol</a></span>
                                <div class="clearfix"></div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
